.financial {
  padding: 0 10px;
  color: #747583;
  font-size: 14px;
  .pool {
    margin-top: 20px;

    .top {
      background: linear-gradient(90deg, #13a2dd 0%, #70ddca 99%);
      border-radius: 10px 10px 0px 0px;
      padding: 0 16px;
      position: relative;
      span {
        height: 45px;
        line-height: 45px;
      }
      span:nth-child(1) {
        font-weight: 600;
      }
      span:nth-child(2) {
        margin-right: 20px;
      }
      img {
        position: absolute;
        right: 16px;
        width: 16px;
        margin-top: 14px;
      }
    }
    .bottom {
      height: 70px;
      padding: 0 10px;
      align-items: center;
      border-radius: 0 0 10px 10px;

      img {
        width: 40px;
        height: 40px;
      }
      ul {
        height: 33px;
      }
      ul:nth-child(2) {
        margin-right: 30px;
      }
      ul:nth-child(3) {
        margin-right: 80px;
      }
      .btn {
        width: 90px;
        height: 40px;

        background: linear-gradient(90deg, #13a2dd 0%, #70ddca 99%);
        border-radius: 20px;
        line-height: 40px;
      }
    }
  }
  .join {
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 26px 16px;
    height: 235px;
    align-items: center;
    ul {
      width: 100%;
      height: 40px;
    }
    .btn {
      width: 130px;
      height: 45px;

      background: linear-gradient(90deg, #13a2dd 0%, #70ddca 99%);
      border-radius: 23px;
      line-height: 45px;
    }
  }
  .minings {
    .mining:last-child {
      margin-bottom: 23px;
    }
    .mining {
      margin-top: 5px;
      height: 195px;
      border-radius: 10px;
      padding: 15px 15px 15px 20px;
      .top {
        align-items: center;
        div {
          width: 25px;
          height: 25px;
          line-height: 25px;
          border-radius: 5px;
        }
        .title {
          margin-right: 70px;
        }
      }
      ul {
        justify-content: center;
        li:nth-child(1) {
          margin-right: 70px;
        }
        li {
          height: 40px;
        }
      }
      .btns {
        justify-content: center;
        div {
          width: 95px;
          height: 40px;
          line-height: 40px;
          border-radius: 20px;
        }
      }
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border-radius: 23px !important;
    background: #1d233d;
    border: 1px solid #5d5f82;
  }
}
